{% extends 'mail_app/base.html' %}

{% block title %}Список рассылок{% endblock %}

{% block content %}
  <table class="table table-bordered border-primary border border-4 table-hover">
    <thead>
      <tr class="table-info">
      {% if perms.mail_app.off_newsletter %}
      <th scope="col"></th>
      {% endif %}
      <th scope="col">Название</th>
      <th scope="col">Сообщение</th>
      <th scope="col">Статус</th>
      <th scope="col">Дата первого отправления</th>
      <th scope="col">Дата крайнего отправления</th>
      <th scope="col">Периодичность</th>
    </tr>
    </thead>
    {% for newsletter in object_list %}
    <tbody class="table-group-divider">
      <tr>
        {% if perms.mail_app.off_newsletter %}
        {% if newsletter.status == 'Остановлена' or newsletter.status == 'Создана' %}
        <th><a type="button"
               class="btn btn-outline-success"
               href="{% url 'mail_app:newsletter_on_off' newsletter.slug %}">Запустить</a></th>
        {% else %}
        <th><a type="button"
               class="btn btn-outline-danger"
               href="{% url 'mail_app:newsletter_on_off' newsletter.slug %}">Остановить</a></th>
        {% endif %}
        {% endif %}
        <td><a href="{% url 'mail_app:newsletter_detail' newsletter.slug %}"
               class="nav-link link-body-emphasis">{{ newsletter.title }}</a></td>
        <td>
          {% if newsletter.message %}
          <a href="{% url 'mail_app:message_detail' newsletter.message.pk %}">{{ newsletter.message }}</a>
          {% else %}
          <p>-</p>
          {% endif %}
        </td>
        <td><a href="{% url 'mail_app:newsletter_detail' newsletter.slug %}"
               class="nav-link link-body-emphasis">{{ newsletter.status }}</a></td>
        <td><a href="{% url 'mail_app:newsletter_detail' newsletter.slug %}"
               class="nav-link link-body-emphasis">{{ newsletter.first_sent_at }}</a></td>
        <td><a href="{% url 'mail_app:newsletter_detail' newsletter.slug %}"
               class="nav-link link-body-emphasis">{{ newsletter.last_sent_at }}</a></td>
        <td><a href="{% url 'mail_app:newsletter_detail' newsletter.slug %}"
               class="nav-link link-body-emphasis">{{ newsletter.periodicity }}</a></td>
      </tr>
    </tbody>
    {% endfor %}
</table>
{% if user.is_authenticated %}
{% if not perms.mail_app.off_newsletter or user.is_superuser %}
<div class="col-12 m-3
   d-flex align-items-center justify-content-center">
  <a href="{% url 'mail_app:newsletter_add' %}"
     class="btn btn-block btn-outline-success btn-lg"
     role="button">Добавить рассылку
  </a>
</div>
{% endif %}
{% endif %}
{% endblock %}