{% extends 'mail_app/base.html' %}

{% block content %}
  <table class="table table-bordered border-primary border border-4 table-hover">
    <thead>
      <tr class="table-info">
      <th scope="col"></th>
      <th scope="col">Название</th>
      <th scope="col">Статус</th>
      <th scope="col">Отправлено</th>
      <th scope="col">Доставлено</th>
      <th scope="col">Переходов</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th><button type="button"
                    class="btn btn-outline-success">Кнопка</button></th>
        <td><a href="#">Рассылка 1</a></td>
        <td>Запущена</td>
        <td>20</td>
        <td>15</td>
        <td>200</td>
      </tr>
    </tbody>
</table>
{% endblock %}